.ChallangesContainer {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: space-between;

    margin: 3.5rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid #d6d8da;

    font-weight: 500;
}

.ChallangesContainer span:first-child {
    font-size: 1.25rem;
}

.ChallangesContainer span:last-child {
    font-size: 1.5rem;
}